<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ejerciciogps">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Localización aproximada -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Localización percisa -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- para casos muy específicos -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- para acceder al hardware (GPS) del dispositivo -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjercicioGPS"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDQpx9WOuC7PLjbo7UKd8JBbizVsYBnpMo" />

        <activity
            android:name=".MainActivity"
            android:exported="false"/>
        <activity
            android:name=".PersistenciaActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>